body
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    background-color: whitesmoke;
}
input[type ^= "button"]
{
    height: 90px;
    padding: 0;
}

.switch input 
{
    display:none;
}

.switch 
{
    position: absolute;
    display: inline-block;
    width: 120px;
    height: 60px;
}

.slider 
{
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
}
  
.slider:before 
{
    position: absolute;
    content: "";
    height: 50px;
    width: 50px;
    left: 5px;
    bottom: 5px;
    background-color: white;
    border-radius: 5px;
}
  
input:checked + .slider 
{
    background-color: #2196F3;
}
  
input:focus + .slider 
{
    box-shadow: 0 0 1px #2196F3;
}


/* input[id^="dark"]:checked + .slider 
{
    background-color: #178a1c;
}
  
input[id^="dark"]:focus + .slider 
{
    box-shadow: 0 0 1px #178a1c;
} */

  
input:checked + .slider:before 
{
    -webkit-transform: translateX(60px);
    -ms-transform: translateX(60px);
    transform: translateX(60px);
}


  