input
{
    font-size: 30px;
    font-family: 'Noto Sans', sans-serif;
}
body
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    background-color: whitesmoke;
    background-color: rgb(41, 41, 41);
}
input[type ^= "button"]
{
    height: 90px;
    padding: 0;
}
input[id ^= "Line"]
{
    /* border-: 1px; */
}

.switch input 
{
    display:none;
}

.switch 
{
    position: absolute;
    display: inline-block;
    width: 120px;
    height: 60px;
    margin-left: 50px;
}

.slider 
{
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
}
  
.slider:before 
{
    position: absolute;
    content: "";
    height: 50px;
    width: 50px;
    left: 5px;
    bottom: 5px;
    background-color: white;
    border-radius: 5px;
}
  
input:checked + .slider 
{
    background-color: #2196F3;
}
  
input:focus + .slider 
{
    box-shadow: 0 0 1px #2196F3;
}
  
input:checked + .slider:before 
{
    -webkit-transform: translateX(60px);
    -ms-transform: translateX(60px);
    transform: translateX(60px);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input[type='number'] {
    -moz-appearance: textfield;
}


  